<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">#}
    <title>学生信息查询</title>
</head>
<body style="text-align: center">
<div class="container-fluid" style="text-align: center">
    <h1>学生信息查询</h1>
    <hr>

    <div>
        <form method="post" class="bs-example bs-example-form" role="form" style="width: 400px; margin-left: auto; margin-right: auto">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">学号</span>
                <input type="text" name="number" class="form-control" placeholder="学生学号">
            </div>
            <br>
            <button class="btn btn-info" type="submit">查询</button>
        </form>
        <br>
        <form class="bs-example bs-example-form" role="form" style="width: 400px; margin-left: auto; margin-right: auto">
            <div class="input-group">
                <span class="input-group-addon">学号</span>
                <input type="text" disabled="disabled" value="{{ stu_no }}" class="form-control" placeholder="学号">
            </div>
            <div class="input-group">
                <span class="input-group-addon">姓名</span>
                <input type="text" disabled="disabled" value="{{ name }}" class="form-control" placeholder="姓名">
            </div>
            <div class="input-group">
                <span class="input-group-addon">年级</span>
                <input type="text" disabled="disabled" value="{{ grade }}" class="form-control" placeholder="年级">
            </div>
            <div class="input-group">
                <span class="input-group-addon">专业</span>
                <input type="text" disabled="disabled" value="{{ major }}" class="form-control" placeholder="专业">
            </div>
            <div class="input-group">
                <span class="input-group-addon">班级</span>
                <input type="text" disabled="disabled" value="{{ Class }}" class="form-control" placeholder="班级">
            </div>
            <div class="input-group">
                <span class="input-group-addon">手机号</span>
                <input type="text" disabled="disabled" value="{{ phone_no }}" class="form-control" placeholder="手机号">
            </div>
        </form>
        <br>
        <button class="btn btn-default" style="width: 300px" onclick="goToUrl('/list/student/')">返回</button>
    </div>

</div>

</body>
<script src="/static/js/base.js"></script>
</html>