{% extends 'admin_layout.html' %}

{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/add/teacher/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加教师
            </a>
            <a class="btn btn-success" href="/add/student/">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                查找教师
            </a>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                教师列表
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>账号</th>
                    <th>密码</th>
                    <th>重置密码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.account_no }}</td>
                        <td>*************</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/reset/{{ obj.id }}/teacher/">重置密码</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/edit/{{ obj.id }}/teacher/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/delete/{{ obj.id }}/teacher/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>

{% endblock %}